header {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 64px;
    margin-bottom: 0;
    margin-top: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.horizontal-scroll {
    overflow-x: auto;
    padding-left: 1rem; 
    padding-right: 1rem;
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
}

.margin-t-b {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.m-w-70 {
    max-width: 70rem;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.pad-l-r {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pad-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.align-left {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.light-blue {
    background-color: #a2e2f2;
    color: black;
}

.light-yellow {
    background-color: #fffaa0;
    color: rgb(0, 0, 0);
}

.light-red {
    background-color: #ff7a7a;
    color: rgb(0, 0, 0);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.border-box {
    box-sizing: border-box;
}

.centered-category{
    margin-left: auto;
    margin-right: auto; 
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 70rem; 
}

.game-presentation-box{
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
    width: 20%;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.hover-effect:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.overflow{
    overflow: visible;
}

.game-icon{
    border-radius: 10%;
    width:100%
}

.links-field{
    text-align: center;
    color: gray;
    font-size: 10px;
}

.top-padding{
    padding-top: 30px;
}