:root {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --link-color: #DDDDDD;
    --header-color: #161616cc;
    --vignette-color: #0000008e;
    --tile-background-color: #252525aa;
    --invert: 1;
}

@media (prefers-color-scheme: light){
    :root{
        --background-color: #FFFFFF;
        --text-color: #000000;
        --link-color: #DDDDDD;
        --header-color: #dddddd6d;
        --vignette-color: #ffffff8e;
        --tile-background-color: #666666aa;
        --invert: 0;
    }
}

html, body{
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
    background: var(--background-color);
    font-family: "JetBrains Mono", Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    word-spacing: -1rem;
    margin: 0;
    font-size: 64px;
    filter: drop-shadow( 0px 0px 1px rgba(255, 255, 255, 0.4));
}

.underlined {
    text-decoration: underline;
}

.header-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 3;
}

.header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    display:flex;
    align-items: center;
    z-index: 100000;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.tiles-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.background-img{
    flex: 1;
    background-size: cover;
    margin-left: -3%;
    margin-right: -3%;
    overflow-y: clip;
    filter: blur(2px);
}

.icon{
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid #000000;
    border-radius: 20%;
    padding: 0;
    margin: 0;
    filter: invert(var(--invert));
}

.buttons-display{
    width: 80%;
    display: flex;
    flex-direction: row;
    overflow: visible;
    justify-content: center;
    gap: 20px;
}

.buttons-display a {
    display: inline-flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 5%;
    min-width: 35px;
}

.buttons-display a:hover {
    filter: drop-shadow( 0px 0px 4px var(--text-color));
}

.background{
    position: fixed;
    display: inline;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.vignette{
    background-color: var(--vignette-color);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    inset: 0;
    color: var(--text-color);
    top:0%;
    bottom:0%;
    width:100%;
    height: 100vh;
    z-index: 2;
    gap: 50px;
}

.footer{
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom:0%;
    color: var(--text-color);
    text-align: center;
}

.header-right{
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow:visible;
}

.pfp-icon{
    height: 80%;
    border-radius: 50%;
}

.header-button{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    color: var(--text-color);
    gap: 10px;
    text-decoration: none;
}

.header-button:hover{
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
}

.title{
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
    min-height: 400px;
}

.img1{
    background-position: left;
    background-image: url('./images/code.png');
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.img2{
    background-position: center;
    background-image: url('./images/mini-drift.png');
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}

.img3{
    background-position: 74%;
    background-image: url('./images/minecraft.png');
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 700px) {
    .img1{
        visibility: hidden;
        width: 0;
    }

    .img2{
        flex: 100vw;
        width: 100vw;
        background-position: center;
        background-image: url('./images/mini-drift.png');
        clip-path: none;
    }
    
    .img3{
        visibility: hidden;
        width: 0;
    }
}

.tile{
    background-color: var(--tile-background-color);
    backdrop-filter: blur(10px);
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}

.tile-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: var(--text-color);
    height: 10vw;
    min-height: 30px;
    max-height: 50px;
    margin: 25px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.tile-icon{
    width: auto;
    height: 100%;
    border-radius: 5px;
}

.tile-name{
    flex: 1;
    color: var(--text-color);
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: clamp(10px, 7vw, 30px);
    text-decoration: underline;
}

.tile-links{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    color: var(--text-color);
}

.tile-link{
    text-decoration: none;
    color: var(--link-color);
}

.tile-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    margin-bottom: 0px;
    margin-top:5px;
}

@media (min-width: 1000px) {
    .tile-content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        margin: 25px;
        margin-top:5px;
        gap: 20px;
    }
}

.tile-content-image{
    width: 100%;
    max-width: 450px;
    border-radius: 3px;
    flex-shrink: 0;
}

.tile-content-text{
    flex:1;
    color: var(--text-color);
    word-break: break-word;
}